/* css to desktop only */
@media screen and (min-width: 1200px) {
    .menu-mobile {
        display: none;
    }
    .menu-desktop {
        display: block;
    }

    nav {
        background-color: var(--black);
    }

    nav ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    nav ul li {
        list-style: none;
        padding: 30px 10px;
    }

    /* applique un style sur les liens de nav */
    nav ul li a {
        text-decoration: none; /* supprime le soulignement */
        font-size: 0.85rem;

    /*    transition: color 500ms; */
    } 
    
    .slogans,
    .cards {
        display: flex;
    }

}